**/*.o
**/*.a
/lib/pclsync/.cache/
/lib/pclsync/compile_commands.json
/lib/mbedtls-1.3.10/build
/lib/mbedtls-1.3.10/library/Makefile
/lib/mbedtls-2.1.14/build
/lib/mbedtls-2.1.14/library/Makefile
/build
/CMakeFiles/
/cmake_install.cmake
**/*.so
/install_manifest.txt
a.out
cmd/pcloudcc/build/pcloudcc
**/*/.cache/
compile_commands.json
compile_commands.events.json
/cmd/pcloudcc/build/
/.cache/
/lib/poverlay_linux/overlay_client
pcloudcc
/scanresults/
result
.kateproject.build
.direnv
