**/*.o
**/*.a
/lib/pclsync/.cache/
/lib/pclsync/compile_commands.json
/lib/mbedtls/build
/lib/mbedtls/library/Makefile
/build
/CMakeFiles/
/cmake_install.cmake
**/*.so
/install_manifest.txt
a.out
cmd/pcloudcc/build/pcloudcc
**/*/.cache/
compile_commands.json

/cmd/pcloudcc/build/
/.cache/
